.container {
  display: block;
}

.column1, .column2, .column3 {
  width: 100%;
}

.column1 img, .column2 img, .column3 img {
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
